<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | Link Garden</title>
</head>
<body>
<h2>Log In</h2>

<div th:if="${param.error}">
    <p style="color: red;">Invalid username or password.</p>
</div>
<div th:if="${param.logout}">
    <p style="color: green;">You have been logged out.</p>
</div>
<div th:if="${param.success}">
    <p style="color: green;">Registration successful! Please log in.</p>
</div>

<form th:action="@{/login}" method="post">
    <label>Username:</label>
    <input type="text" name="username" required /><br/>

    <label>Password:</label>
    <input type="password" name="password" required /><br/>

    <button type="submit">Log In</button>
</form>
<p>Don't have an account? <a th:href="@{/register}">Sign up here</a>.</p>
</body>
</html>